form {
    font-size: 55px;
    width: 50%;
    text-align:center;
    background-color: khaki;
    padding: 10px;
    align-content: center;
    margin: auto;
    display:table;/* shrinks to fit content */
}
html,body {
    height:100%;
    width:100%;
    margin:0;
    padding: 0;
    display:table;
    background-color: lightseagreen;
  }
  body {
    display:table-cell;
    vertical-align:middle;
  }
  input {
      font-size: 55px;
      border-radius: 10px;
      text-align: center;
  }
  button {
    font-size: 55px;
  }
  input[type="radio"] {
    border:0;
    width:5%;
    height:33px;
  }
