/* ovo je komentar */

/* selektor elementa*/
p{
    color: red;
    background-color: #ff00ff;
    margin-block-start: 0.5em;
}
h1{
    color:rgb(255,255,255);
    background-color: #000;
}

h2{
    background-color: #black;
    color: rgba(255,255,255,0,5);
}

/* selektor elementa*/

.klasa{
    color:green;
}

/* selektor indetifikacije*/
#kljuc{
    color: purple;
}

/* univerzalni selektor za sve elemente*/
*{
    color:grey;
}
/* selektori odnosi se na elemnt p koji ima id kljuc */
p#kljuc{

}

html>body>h6{

    color:indigo;
}

body>div>p#kljuc

#col1 > p:nth-child(1) > span > em > strong{

}
